name: Build and Deploy

on:
  push:
    branches:
    - main
    - deploy-resource-v1.1
  pull_request:
    branches:
    - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build & test
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '6.0.x'

    - name: Lint
      run: |
        #https://github.com/dotnet/format/issues/1433
        dotnet tool install -g dotnet-format --version "6.*" --add-source https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet6/nuget/v3/index.json
        dotnet-format --verify-no-changes
      working-directory: DqtNotifications

    - name: Build
      run: dotnet build --configuration Release
      working-directory: DqtNotifications

  deploy:
    name: Deploy to ${{ matrix.environment }} environment
    runs-on: ubuntu-latest
    #if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    concurrency: deploy_${{ matrix.environment }}
    needs: [build]
    strategy:
      max-parallel: 1
      matrix:
        environment: [dev] #[dev, test, preprod, production]
    environment:
      name: ${{ matrix.environment }}
      #url: ${{ steps.deploy.outputs.environment_url }}
    #outputs:
      #environment_url: ${{ steps.deploy.outputs.environment_url }}

    steps:
      - uses: actions/checkout@v3

      - uses: ./.github/actions/deploy-environment
        id: deploy
        with:
          app_root: DqtNotifications
          azure_credentials: ${{ secrets.AZURE_CREDENTIALS }}
          environment_name: ${{ matrix.environment }}
